<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<p>Current URL: <span id="currentUrl"></span></p>

<!-- Create a hyperlink with the current URL -->
<a id="currentUrlLink" href="#">Skinport and Buff</a>
<script>
    // JavaScript code to get the current URL
    var currentUrl = window.location.href;

    // Display the current URL on the webpage
    document.getElementById("currentUrl").textContent = currentUrl;

    // Set the href attribute of the hyperlink to the current URL
    document.getElementById("currentUrlLink").href = currentUrl + "/market/skinport/buff163/100";
</script>

</html>